body {
  background-color: rgb(22, 22, 22);
}

.header {
  color: #fff;
  text-align: center; 
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 960 px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.note {
  background-color: #303030;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  margin: 10px; 
  width: "100%"
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note.new {
  background-color: rgb(241, 186, 3);
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 999;
  width: 60%;
}

textarea {
  border: none;
  resize: none;
  background-color: rgb(241, 186, 3);
}


textarea:focus {
  outline: none;
}

.save {
  background-color: rgba(255, 83, 83, 0.417);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: rgba(233, 67, 67, 0.417);
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.dynamic-height {
  min-height: 0;
}

.create-note-button {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background-color: rgb(241, 186, 3);
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.underblock {
  word-wrap: break-word;
  word-break: break-all;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.edit-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.edit-menu.active {
  display: block;
}

.edit-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-menu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-menu li:hover {
  background-color: #e0e0e0;
}

.save-button {
  background-color: rgb(241, 186, 3);
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:hover {
  background-color: rgb(207, 159, 2);
}

.note-theme {
  text-transform: uppercase; 
  font-weight: bold; 
}
.character-count {
  color: black; 
}